#contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
}

#encabezado{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230,200,149);
    height: 15%;
    margin-top: 10px;
    text-align: center;
}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(171,161,134);
    height: 5%;
    text-align: center;
}

#seccion{
    align-items: center;
    background-color: rgb(151,158,54);
    height: 64%;
    width: 63%;
    float: left;
}

#menuAside{
    background-color: rgb(190,193,79);
    height: 64%;
    width: 35%;
    float: right;

}

#pie{
    background-color: rgb(230,200,149);
    height: 10%;
    width: 100%;
    text-align: center;
    float: left;

}


.encabezado{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(77, 6, 6);
    margin: auto 2em;
    margin-top: 3%;
}

.barraNavegacion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-align: justify;
    color: rgb(19, 2, 2);
    font-size: large;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3%;
}


ul{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

li{
    padding-left: 6px;
    padding-right: 6px;

}

img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}

picture{
    margin-top: 30%;
    margin-left: 10%;
}
